.SimonSays {
    text-align: center;
}

.SimonSays-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.SimonSays-link {
    color: #61dafb
}

.colorCard {
    height: 200px;
    width: 200px;
}

.cardWrapper {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.startButton {
    border: 2px solid white;
    background-color: rgb(33, 33, 36);
    position: absolute;
    width: 100px;
    color: white;
}

.score {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    line-height: 100px;
    font-size: 5;
}

.flash.flash {
    border: 3px solid white;
    border-radius: 5px;
    box-sizing: border-box;

}

.lost {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    line-height: 100px;
    font-size: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red {
    background-color: red;

}

.red.flash {
    background-color: rgb(255, 125, 125);
}

.green {
    background-color: green;
}

.green.flash {
    background-color: rgb(125, 255, 125);
}

.blue {
    background-color: blue;
}

.blue.flash {
    background-color: rgb(125, 125, 225);
}

.yellow {
    background-color: yellow;
}

.yellow.flash {
    background-color: rgb(255, 255, 125);
}